@font-face {
  font-family: "iconfont"; /* Project id 4271811 */
  src: url('./iconfont.ttf?t=1734453602791') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-arrow-right:before {
  content: "\e75a";
}

.icon-arrow-left:before {
  content: "\e75b";
}

.icon-arrow-top:before {
  content: "\e798";
}

.icon-arrow-bottom:before {
  content: "\e799";
}

.icon-right1:before {
  content: "\e786";
}

.icon-volume:before {
  content: "\e6b9";
}

.icon-delete-fill:before {
  content: "\e7ce";
}

.icon-delete:before {
  content: "\e784";
}

.icon-clean:before {
  content: "\e785";
}

.icon-read:before {
  content: "\e783";
}

.icon-save:before {
  content: "\e782";
}

.icon-history:before {
  content: "\e781";
}

.icon-gitee:before {
  content: "\e77f";
}

.icon-github:before {
  content: "\e780";
}

.icon-set:before {
  content: "\e77a";
}

.icon-refresh1:before {
  content: "\e77b";
}

.icon-wrong:before {
  content: "\e77c";
}

.icon-refresh:before {
  content: "\e77d";
}

.icon-right:before {
  content: "\e77e";
}

.icon-metaMask:before {
  content: "\e779";
}

.icon-audio:before {
  content: "\e72a";
}

